# mark 
## mark
### mark
#### mark

* **point1
* *point2*
* ***point3***

* NORMAL TEXT
 * SUBLIST 1
 * SUBLIST 2
 
 > 1.point1
 >2.point2
 
 * google site -- [1] https://www.google.com
 * man site -- [2] https://www.man.com
 
 * [] option 1
 * google site -- [google] [1]

## python basics
* python version 3.7
- function programing
- object oriented programing
- scripting programing

In [2]:
print("hello,gitam")
print("hyderabad")

hello,gitam
hyderabad

In [4]:
print("hello,gitam","|||",end =" ")
print("hyderabad",end="|||")
print("python programing")

hello,gitam ||| hyderabad|||python programing

## ASSIGNMENT

In [5]:
 n1= 100 # single variable assignment
 a = b = c = 20
 a1,b1,c1 = 111,222,333
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

## data type conversations
* int 
* float
* string

In [3]:
a=100
s1="python"
s2='p'
f1=10,2
print(a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

100 python p (10, 2)
<class 'int'> <class 'str'> <class 'str'> <class 'tuple'>

In [6]:
i=100
print(type(1))
s1= str(i) #str() converts the input into string type
print(type(s1))

<class 'int'>
<class 'str'>

In [7]:
# a number is given 1234
# digit count
al = 1234
print(len(str(al)))

4

# reading a value
* input("message")--string

In [8]:
s1=input("enter your name")
print(s1)
print(type(s1))

enter your namesaadhvi cheruku
saadhvi cheruku
<class 'str'>

In [9]:
# want a number as a input
n1=int(input("enter a number"))
print(n1,type(n1))

enter a number56
56 <class 'int'>

## operations
* operator is a symbol is used to perform a specific kind of operations
## arthematic operators
. /
. +
. -
. *
. %
.//

In [10]:
n1=1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10)
print(n1%10)
print(n1**10)

1244
1224
12340
123.4
4
8187505353567209228244052427776

## precedence of the arth operators
     * parentasis
     * power
     * multiplication
     * addition
     
     // left to right

In [11]:
x= 1+ 2**3/4*5
print(x)

11.0

## relational operators
- ==
- i-
- greater(>)
- less than(<)
- less than or equal to(<=)
- greater than or equal to(>=)

## logical operators
* and
* or
* not

In [1]:
 i=100
 a1 = (i>15)and(1<800)
 a2 = (i>15) and (i>800)
 print(a1)
 print(a2)

True
False

### control flow statements
- conditional statements
- looping statements

### if-else statement
if boolean _ condition
   statements
   else:
 statements

In [3]:
# to check given number is even or odd
n=int(input("enter the number"))
if n%2 == 0:
    print("even")
else:
     print("odd")

enter the number3
odd

In [4]:
# to cheack given number is perfectly multiple of 3 and 5
n=int(input("enter a number"))
if  n%3==0 and n%5==0:
    print("yes")
else:
    print("no")

enter a number24
no